
<!-- Carosel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin slice" focusable="false" role="img"><image xlink:href="https://picsum.photos/600/900?random" width="100%" height="100%" preserveAspectRatio="xMidYMin slice"/></svg>
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Contact Us.</h1>
          <p>Our company is dedicated to servicing all of your pressure washing needs. From cleaning residential homes to restoring large post-apocalyptic industrial complexes to their former glory, we've got you covered! Contact us today for a free estimate.</p>
          <p><a class="btn btn-lg btn-primary color-scheme-27506E" href="#contact_us" role="button">Send us a message</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><image xlink:href="https://source.unsplash.com/random" width="100%" height="100%" preserveAspectRatio="xMidYMin slice"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>Our Reviews.</h1>
          <p>We are only as good as our last review. See what our previous customers have to say about our services!</p>
          <p><a class="btn btn-lg btn-primary color-scheme-27506E" href="#our_reviews" role="button">Read our reviews</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><image xlink:href="http://lorempixel.com/640/360" width="100%" height="100%" preserveAspectRatio="xMidYMin slice"/></svg>
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>FAQ.</h1>
          <p>When my grandfather was growing up in Nova Scotia, kids always went to great pains to hide the fact that they had a lobster sandwich for lunch. It meant your dad was a fisherman and you had run out of any other food and had to eat lobster. Because that stuff was cheaper than bologna. It actually hit that point again out here if you bought it from the guy who caught it. It only became a status symbol when people started bringing it inland.</p>
          <p><a class="btn btn-lg btn-primary color-scheme-27506E" href="#faq" role="button">Frequently Asked Questions</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>