{% load static %}

<!-- Featurettes -->
<hr class="featurette-divider">

<a class="anchor-56" id="our_work"></a>
<h2 class="mb-4">Our Work</h2>

<div class="row featurette">
  <div class="col-md-4">
    <div class="mb-4">
      <img class="center modal-link" id="deck_02_ba" width="225px" src="{% static 'img/deck_02_ba.jpg' %}">
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-4">
      <img class="center modal-link" id="deck_03_ba" width="225px" src="{% static 'img/deck_03_ba.jpg' %}">
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-4">
      <img class="center modal-link" id="deck_04_ba" width="225px" src="{% static 'img/deck_04_ba.jpg' %}">
    </div>
  </div>

  <div class="col-md-4">
    <div class="mb-4">
      <img class="center modal-link" id="deck_05_ba" width="225px" src="{% static 'img/deck_05_ba.jpg' %}">
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-4">
      <img class="center modal-link" id="sidewalk_01_ba" width="225px" src="{% static 'img/sidewalk_01_ba.jpg' %}">
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-4">
      <img class="center modal-link" id="sidewalk_02_ba" width="225px" src="{% static 'img/sidewalk_02_ba.jpg' %}">
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-12">
    <a class="anchor-56" id="our_reviews"></a>
    <h2>Customer Reviews</h2>
    - Coming Soon -
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-12">
  <!-- <div class="col-md-7 order-md-2 mb-5"> PUSH RIGHT -->
    <a class="anchor-56" id="faq"></a>
    <h2>FAQ </h2>
  
    <p class="lead bold bold">Are your cleaning solutions safe for plants and animals?</p>
    <p>Yes, all cleaning solutions are safe and diluted to 20% detergent and 80% water during the cleaning process for pressure washing houses and decks.  In my 10+ years in the industry no plants, animals, or property have been harmed.</p>

    <p class="lead bold">What is the difference between a seal and a stain?</p>
    <p>A seal is a clear finish that protects from moisture and UV rays for 1-2 years depending on the environment where the deck is located.  A stain lasts 3-5 years and is a penetrating finish that comes in a variety of colors.  Deck stains come in Semi Transparent and Solid options.  A semi transparent stain will show the grain of the wood while tinting it to your desired color.  A solid stain looks like paint but is made to adhere to wood and is the longest lasting product available for decks.  Stains and seals are applied by brush and airless sprayer.  All areas surrounding the deck are covered thoroughly with plastic, tape, and tarps.</p>

    <p class="lead bold">How much furniture needs to be removed from the deck before washing?</p>
    <p>We will move a table, four chairs, and a grill for you, at no charge.  Additional furniture, planters, decorative items, etc. should be removed from deck prior to our arrival or may be subject to a small fee for having our team remove the items.</p>

    <p class="lead bold">What is covered in the deck cleaning and sealing/staining process?</p>
    <p>The deck floor, inside and outside of the railings, and the support posts under the deck are treated.  The underside of the deck is not an industry standard but can be cleaned for an additional charge.</p>

    <p class="lead bold">What is included in the house washing process?</p>
    <p>The entire house is cleaned from the exterior gutters down to the foundation of the home.  Front walkways, chimneys, and basement walkouts are add-ons and may be subject to a small additional charge.  We use a Soft Wash System that uses low pressure and a mild detergent, ensuring no harmful high pressure will be used on your home. We offer a gutter detailing service as some gutters have “Tiger Stripes” that lighten during the cleaning but may still be visible depending on how old the home is, this process involves hand scrubbing each gutter as pressure washing alone sometimes cannot remove them.</p>

    <p class="lead bold">How long does a deck/fence wash and stain take?</p>
    <p>All cleaning is done on one day and the deck needs to dry before sealing/staining can be completed.  The timeline varies due to the weather and conditions must be done on a day with no chance of rain and winds cannot be harsh.  We have all projects completed in 1-2 weeks depending on weather conditions.</p>

    <p class="lead bold">Do I need to be home during the washing/staining process?</p>
    <p>Not unless you would like to be home.  We just need all windows shut and at least one exterior water source turned on.  We use ladders to get to second level decks and need no access inside the home.</p>

    <p class="lead bold">Is River City Pro Wash insured?</p>
    <p>Yes we are licensed and insured.</p>

    <p class="lead bold">Do you clean all types of decks?</p>
    <p>Yes, most decks are Southern Yellow Pine, we are also very experienced in cleaning composite decking as well as exotic hardwood decking such as IPE (Brazilian Hardwood) and mahogany, etc.  Some composite decks clean better than others as the brands have changed over the years, older composite decks may have permanent black spots than can be stained over with a solid stain.</p>

    <p class="lead bold">Will a deck wash remove all of the current stain that is on my deck or does it need to be "stripped"?</p>
    <p>Pressure washing alone uses a detergent and high pressure rinsing to remove mold, midew, algae, dust, etc.  To actually break down a water proofing stain that still remains in some areas of the deck we need to hand apply a deck stripper prior to deck washing.  The stripper breaks down the old product so it can be safely removed from the deck.  This process is usually necessary if a customer wants to go from a darker color to a lighter color or if the previous stain was applied unevenly.</p>

    <p class="lead bold">Do you guarantee the deck stains to last a certain number of years?</p>
    <p>We follow the manufacturers recommendations and application methods.  We also ensure to apply our stains and sealants in the right conditions to receive maximum adhesion and protection to the wood (making sure the deck is fully dry and temperature is warm enough, etc).  Given that we live in Northern Virginia and experience the harshest conditions of all seasons we cannot guarantee every stain will last as long as the label on the can says.  For example a deck that sits in the sun all day will fade quicker than a deck that gets daytime shade,  a deck that sits in the shade may mildew quicker due to the moist environment. We use top quality stains and seals and follow proper procedure in every application of our deck stain or seal process.</p>
  
  </div>
</div>

<hr class="featurette-divider">