<!-- {% extends "web_app/base.html" %} -->
{% load static %}

<!-- Title -->
{% block title %} <title>River City Pro Wash</title> {% endblock %}

<!-- JavaScript -->
{% block js %} <script src="{% static 'js/index.js' %}"></script> {% endblock %}

<!-- Body -->
{% block body %}

<!-- HEADER LOGO -->
{% include "web_app/header_logo.html" %}

<!-- NAVBAR -->
{% include "web_app/navbar.html" %}

<main role="main">

  <!-- CAROSEL -->  
  {% include "web_app/carosel.html" %}

  <!-- begin centering wrapper -->
  <div class="container marketing">

    <!-- Mid-section: Columns A and B -->
    <div class="row">

      <!-- Column A -->
      <div class="col-lg-5">
        
        <!-- CONTACT US -->
        {% include "web_app/contact_us.html" %}

        <!-- SOCIAL MEDIA BUTTONS -->
        {% include "web_app/social_media.html" %}

      </div>

      <!-- Column B -->
      <div class="col-lg-7">

        <!-- OUR SERVICES & GOOGLE MAP -->
        {% include "web_app/map.html" %}

      </div>
    </div>

    <!-- FEATURETTES -->
    {% include "web_app/featurettes.html" %}

  </div><!-- end centering wrapper -->

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2018-2019 River City Pro Wash, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot; <a href="#">Acknowledgements</a></p>
  </footer>

</main>

{% endblock %}