
<!-- Google Maps Javascript API -->
<div id="map"></div>
<script>
  function initMap() {
    var Ashland_VA = {lat: 37.759, lng: -77.480};
    var Bon_Air_VA = {lat: 37.525, lng: -77.558};
    var Chesterfield_VA = {lat: 37.377, lng: -77.505};
    var Chester_VA = {lat: 37.359, lng: -77.442};
    var Glen_Allen_VA = {lat: 37.666, lng: -77.506};
    var Highland_Springs_VA = {lat: 37.546, lng: -77.328};
    var Mechanicsville_VA = {lat: 37.608, lng: -77.373};
    var Midlothian_VA = {lat: 37.506, lng: -77.649};
    var Richmond_VA = {lat: 37.540, lng: -77.436};
    var Short_Pump_VA = {lat: 37.666, lng: -77.628};
    var Woodlake_VA = {lat: 37.420, lng: -77.679};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: Richmond_VA
    });
    var marker_Ashland_VA = new google.maps.Marker({
      position: Ashland_VA,
      map: map,
      title: 'Ashland, VA'
    });
    var marker_Bon_Air_VA = new google.maps.Marker({
      position: Bon_Air_VA,
      map: map,
      title: 'Bon Air, VA'
    });
    var marker_Chesterfield_VA = new google.maps.Marker({
      position: Chesterfield_VA,
      map: map,
      title: 'Chesterfield, VA'
    });
    var marker_Chester_VA = new google.maps.Marker({
      position: Chester_VA,
      map: map,
      title: 'Chester, VA'
    });
    var marker_Glen_Allen_VA = new google.maps.Marker({
      position: Glen_Allen_VA,
      map: map,
      title: 'Glen Allen, VA'
    });
        var marker_Highland_Springs_VA = new google.maps.Marker({
      position: Highland_Springs_VA,
      map: map,
      title: 'Highland_Springs, VA'
    });
    var marker_Mechanicsville_VA = new google.maps.Marker({
      position: Mechanicsville_VA,
      map: map,
      title: 'Mechanicsville, VA'
    });
    var marker_Midlothian_VA = new google.maps.Marker({
      position: Midlothian_VA,
      map: map,
      title: 'Midlothian, VA'
    });
    var marker_Richmond_VA = new google.maps.Marker({
      position: Richmond_VA,
      map: map,
      title: 'Richmond, VA'
    });
    var marker_Short_Pump_VA = new google.maps.Marker({
      position: Short_Pump_VA,
      map: map,
      title: 'Short Pump, VA'
    });
    var marker_Woodlake_VA = new google.maps.Marker({
      position: Woodlake_VA,
      map: map,
      title: 'Woodlake, VA'
    });
  }
</script>

<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3AhMydBnNDS3I4cGX_uDxd3u5GJ9Rzsc&callback=initMap">
</script> -->
