{% load static %}

<!-- Navbar -->
<header>
  <nav id="nav_bar" class="prevent_pushdown navbar navbar-expand-md navbar-dark color-primary">
    <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarCollapse" data-toggle="collapse" data-target="#navbarCollapse"> -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav m-auto font-size18">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact_us">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#our_services"> Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#our_reviews">Our Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
      <!-- <div class="navbar-brand">
        (123) 456-7890
      </div> -->
    </div>
  </nav>
</header>