/* ========== START: smooth scroll ========== */
a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}
/* ========== END: smooth scroll ========== */


/* ========== START: remove spin buttons from number input field ========== */
/* Remove number spin buttons for Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}

/* Remove number spin buttons for Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ========== END: remove spin buttons from number input field ========== */


input[type='text'], input[type='email'] {
  width: 100%;
  margin: 8px 0;
}


/* ========== START: SVG placeholder images in carosel ========== */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* ========== END: SVG placeholder images in carosel ========== */


.font_size22 {
  font-size: 22px;
}

.phone {
  margin: 8px 0;
  text-align: center;
}

.red {
  color: red;
}

/* Google Maps - always set the map height explicitly to define the size of 
the div element that contains the map. */
#map {
  height: 425px;
}