/* Remove whitespace at top of page */
/* https://stackoverflow.com/questions/18772154/white-space-at-top-of-page */
/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption { */
html, body, div, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Increase the width of the email input field, also indirectly increases the 
width of the name and address fields */
input[type='text'], input[type='email'] {
  width: 100%;
  margin: 8px 0;
}

input[type='tel'] {
  margin: 8px 0;
}

.bold {
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.font-size18 {
  font-size: 18px;
}

.font-size20 {
  font-size: 20px;
}

.font-size22 {
  font-size: 22px;
}

.green {
  color: green;
}

.green-bg {
  background-color: green;
}

/* Set dimensions for the logo at the top of the page */
.header-logo {
  height: 280px; 
  max-width: 100%
  }

.margin-top56 {
  margin-top: 56px;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

/* Stop expanded navbar from pushing down content */
.prevent_pushdown {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.red {
  color: red;
}

.red-bg {
  background-color: red;
}

.text-center {
  text-align: center;
}

/* Google Maps - always set the map height explicitly to define the size of 
the div element that contains the map. */
#map {
  height: 425px;
}



/* ========== START: smooth scroll ======================================== */
a.anchor-56 {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}
/* ========== END: smooth scroll ======================================== */



/* ========== START: remove spin buttons from number input field ========== */
/* Remove number spin buttons for Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}

/* Remove number spin buttons for Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ========== END: remove spin buttons from number input field ========== */



/* ========== START: SVG placeholder images in carousel ==================== */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* ========== END: SVG placeholder images in carousel ==================== */



/* ========== START: darken carousel images ============================== */
/* https://css-tricks.com/design-considerations-text-images/ */

.carousel_background {
  height: auto;
  max-width: 100%;
  background-size: cover;
}

.darken_background_1 {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.80)
    ),
    url(https://picsum.photos/600/900?random);
}

.darken_background_2 {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.80)
    ),
    url(https://source.unsplash.com/random);
}

.darken_background_3 {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.80)
    ),
    url(https://loremflickr.com/960/720);
}

.text-shadow {
  text-shadow: 1px 2px 2px black;
}
/* ========== END: darken carousel images ============================== */



/* ========== START: SVG social media icons ============================== */
.svg_icon {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.svg_icon:hover {
  opacity: 0.7;
  text-decoration: none;

  /* -moz-transform: scale(1.25); */
  /* -ms-transform: scale(1.25); */
  /* -o-transform: scale(1.25); */
  -webkit-transform: scale(1.25);
  transform: scale(1.25);

  /* -ms-transition: transform 0.2s ease-in-out; */
  /* -moz-transition: transform 0.2s ease-in-out; */
  /* -o-transition: transform 0.2s ease-in-out; */
  -webkit-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
/* ========== END: SVG social media icons ============================== */



/* ========== START: colors ======================================== */

/* 032339 123955 27516e 426a87 6a8ba2 cddbe5 eff4f8 */

.color-secondary {
  background-color: #EFF4F8;
  color: #000b2e;

  /* background-color: #e4e2ee;
  color: #262261; */
}

.color-primary {
  background-color: #000b2e;
  color: #EFF4F8;

  /* background-color: #262261;
  color: #e4e2ee; */
}

/* 262261 // 27a9e1 */
/* ========== END: colors ======================================== */



/* ========== START: modal ======================================== */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #EFF4F8;
  margin: auto;
  padding: 0;
  /* border: 3px solid #000b2e; */
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.3s;
  animation-name: animatetop;
  animation-duration: 0.3s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #EFF4F8;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #EFF4F8;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {padding: 0;}

.modal-footer {
  padding: 10px;
  background-color: #000b2e;
  color: #EFF4F8;
}

.modal-header {
  padding: 10px;
  background-color: #000b2e;
  color: #EFF4F8;
}

.modal-link {
  width: 100%;
}

.modal-link:hover,
.modal-link:focus {
  cursor: pointer;
  filter: brightness(75%);
}

@media (max-width: 767px) {
  .modal-link {
    /* width: 60%; */
    width: 225px;
  }
}

/* ========== END: modal ======================================== */